<section class="form-auth text-center">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
  <%= render "devise/shared/error_messages", resource: resource %>

  <%= f.text_field :first_name, autofocus: true,  class:"form-control" ,placeholder:"First Name"%>
  
  <%= f.text_field :last_name, class:"form-control" ,placeholder:"Last Name"%>

  <%= f.text_field :accType,  class:"form-control" ,placeholder:"Patient or Medical team"%>

  <%= f.email_field :email, autocomplete: "email", class:"form-control" ,placeholder:"Email"%>

  <em>(<%= @minimum_password_length %> characters minimum)</em>
  <%= f.password_field :password, autocomplete: "new-password" ,class:"form-control", placeholder:"Password"%>

  <%= f.password_field :password_confirmation, autocomplete: "new-password" ,class:"form-control", placeholder:"Password confirmation"%>
  
   <%= fields_for resource.rolable do |rf| %>
    <% render :partial => "#{Doctor}_fields", :locals => { :f => rf } %>
  <% end %>

  <%= hidden_field :account, :account_type, :value => account_session %>
  
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>

<% end %>

<%= render "devise/shared/links" %>

</section>